body{
    background-color: cadetblue;
    color: aliceblue;
}
h1{
    color: brown;
}
h2{
    color: black;
}
h3{
    color: blueviolet;
}
h4{
    color: blue;
}
h5{
    color: aqua;
}
h6{
    color: bisque;
}
p{
    color: chocolate;
}